html, body {
	font-family: 'Segoe UI', Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #2f2f2f;
	background-color: #fdfdfb;
}

a {
	color: #d67b00;
	text-decoration: none;
}
a:hover {
	color: #ff3300;
	text-decoration: underline;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #2f2f2f;
	color: #fff;
	text-decoration: none;
}

div.article-panel {
	background: #ffeabf;
	padding: 5px 10px;
	color: #444;
}
div.article-panel p.first { margin: 0; float: left; }
div.article-panel p.last { margin: 0; float: right; }

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ddd;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #f9aa00;
	height: 60px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fff;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #333;
}

.panelitems {
	text-align: center;
}

.left-chapters {
	margin: 0;
	background: #fff8e1;
	border-right: 2px solid #f9aa00;
}
.left-chapters ul {
	width: 230px;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #999;
}
.left-chapters ul li.selected {color: #d67b00; font-weight: bold;}
.left-chapters ul li a {
	color: #333;
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #ff3300; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}
.left-chapters ul li.share a.share-yt {
	width: 100%;
	height: 30px;
	background: url('../images/share_yt.png') no-repeat 0 0;
}
.left-chapters ul li.share a.share-yt:hover {
	background-position: 0 -30px;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	color: #d67b00;
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: #ff3300; }
ul.breadcrumbs li:after {
	padding: 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: 'Segoe UI', Arial, sans-serif;
}
.content-text h1 {font-size: 32px;}

ul.content-table {
	padding: 60px 0 0 30px;
	list-style: none;
	font-size: 28px;
}
ul.content-table li {
	margin: 0 0 40px 0;
}
ul.content-table li a {
	color: #bb4e00;
}
ul.content-table li a:hover {
	color: #f0711c;
}

#footer {
	box-sizing: border-box;
	background: #2f2f2f;
	padding: 15px;
	color: #eee;
	font-size: 14px;
	text-align: center;
}
#footer a {
	color: #f0f0f0;
	text-decoration: underline;
}

.form-input {
	width: 300px;
	font-size: 16px;
}

.form-label {
	display: inline-block;
	min-width: 150px;
	vertical-align: top;
}

.form-error ul {
	list-style: none;
	padding: 0;
	color: #ff0000;
}

.form-button {
	min-width: 200px;
	font-size: 16px;
	background: #f9aa00;
	border: none;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}
.form-button:hover {
	background: #d67b00;
}
